<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!-- Scrape Button -->
    <div class="container">
        <div class="jumbotron text-center">
            <h1><b>Mission to Mars</b></h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <!-- News Section -->
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2><b>Latest Mars News</b></h2>
                        <h4 class="media-heading"><b>{{mars.news_title}}</b></h4>
                        <h5>
                            </p>{{mars.news_paragraph}}</p>
                        </h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Mars Featured Image-->
            <div class="col-md-9">
                <h2><b>Featured Mars Image</b></h2>
                <img src="{{mars.featured_image}}" class="img-responsive" alt="Mars Featured Image">
            </div>
            <!-- Mars Current Weather and Mars Facts-->
            <div class="col-md-3">
                <!-- Mars Weather Twitter Feed-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4><b>Current Weather on Mars</b></h4>
                                <p>{{mars.mars_weather}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mars Facts-->
                <div class="row">
                    <div class="col-md-12">
                        <h4><b>Mars Facts</b></h4>
                        {{mars.mars_facts}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Mars hemispheres title and images-->
        <div class="row" style="margin-top:80px;">
            <div class="page-header">
                <h3 class="text-center"><b>Mars Hemispheres</b></h3>
            </div>
            {{mars.mars_hemispheres}}
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="{{mars_hemispheres.img_url}}" alt="Mars Hemispheres">
                    <div class="caption">
                        <h3><b>{{mars_hemispheres.title}}</b></h3>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>